h1 {
	text-align: center;
	font-family: helvetica;
	text-transform: uppercase;
}

h3 {
	color: grey;
}

body {
  margin: 0 60px;
  border-top: 10px;
  border-bottom: 10px;
}

nav {
	text-align: center;
	margin: 5%;
	font-size: 8;
	padding-bottom: 15px;
}

a {
	margin: 0px 10px;
	border-bottom: 2px solid transparent;
	text-decoration: none;
}

img {
	border: 1px solid;
}

#goldy {
  border-radius: 50%;
  height: 250px;
}

