h1 {
	text-align: center;
	font-family: helvetica;
}

h3 {
	color: grey;
}

body {
	margin: 5%;
}

nav {
	text-align: center;
	margin: 5%;
	font-size: 8;
	padding-bottom: 15px;
}

a {
	margin: 0px 10px;
	border-bottom: 2px solid transparent;
	text-decoration: none;
}


